Cannot load specs from gem server if `Content-Encoding` header is correct

`Gem::RemoteFetcher` is unable to fetch specs from alternative gem servers if the alternative gem server sends an appropriate `Content-Encoding` header.  Depending on the value of the `Content-Encoding` header, [Net::HTTP (Ruby 2+) automatically unzips gzipped responses](https://github.com/ruby/ruby/blob/trunk/lib/net/http/response.rb#L254).

`Gem::RemoteFetcher` assumes that the response body returned by `Net::HTTP` for the `specs.4.8.gz` endpoint will be gzipped and [attempts to unzip the response body](https://github.com/rubygems/rubygems/blob/master/lib/rubygems/remote_fetcher.rb#L291).  This works for rubygems.org because that site does not include a `Content-Encoding` header for `specs.4.8.gz`.

If a gem server includes an appropriate `Content-Encoding` header, `Net::HTTP` automatically unzips the gzipped response and `Gem::RemoteFetcher` tries to unzip the already-unzipped response, raising a `FetchError`.

This issue is related to:

  - [ ] Network problems
  - [x] Installing a library
  - [ ] Publishing a library
  - [x] The command line `gem`
  - [ ] Other

I will abide by the [code of conduct](https://github.com/rubygems/rubygems/blob/master/CODE_OF_CONDUCT.md).


Do I understand this correctly?

* Your server is serving up `specs.4.8.gz`
* Your server sets `Content-Encoding: gzip`
* Your server does not re-gzip `specs.4.8.gz` so the byte stream is gzip of Marhsal data (not gzip of gzip of Marshal data).

If this is correct then your server is misconfigured.  Please read [RFC 2616 section 14.11](https://tools.ietf.org/html/rfc2616#section-14.11):

> [Content-Encoding] indicates what additional content
> codings have been applied to the entity-body, and thus what decoding
> mechanisms must be applied in order to obtain the media-type
> referenced by the Content-Type header field. Content-Encoding is
> primarily used to allow a document to be compressed without losing
> the identity of its underlying media type.

RubyGems requires the entity-body to be gzip content after decoding any Content-Encoding values. This means `Content-Type: application/gzip`, even though this is not explicitly required by the program code as servers may not be configured to set `Content-Type` correctly.  If you set `Content-Encoding: gzip` without re-gzipping the file then the entity-body will be incorrect and RubyGems will give the error you see.

If you are setting `Content-Encoding` you must re-gzip this file as that is what RubyGems (and HTTP) require.

Ah, thanks!  I didn't realize `Content-Encoding` was being sent incorrectly.